
.strip > label:first-child {
    min-width: 120px;
}

.harvester-star-rater {
    font-size:2.5em;
}
@media screen and (min-width:600px) {
.harvester-star-rater {
    font-size:3.5em;
}
}
@media screen and (min-width:800px) {
.harvester-star-rater {
    font-size:5em;
}
}
.quote {
    font-style:italic;
}
.share-wrapper {
    text-align: right;
    margin-top: 5rem;
}
.share-button {
    padding:.8rem 1rem .8rem 1rem;
    margin-left:1rem;
    border-radius:5px;
    background:linear-gradient(rgba(255,255,255,.7), rgba(225,225,225,.7));
    font-size:.9rem;
    min-width:150px;
    display:inline-block;
    text-align:center;
    margin-bottom:1rem;
}
.rating-wrapper {
    padding-bottom:0 !important;
    position:relative;
}
.harvester-view-stars {
    color:gold;
}
.harvester-image {
    position:absolute;
    top:5px;
    right:5px;
    width:50px;
}
